on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    name: A job to test action to encode secret output
    outputs:
      out: ${{ steps.encode.outputs.out }}
      out_multiline: ${{ steps.encode_multiline.outputs.out }}
      out_toml: ${{ steps.encode_toml.outputs.out }}
    steps:
      - name: Cache secret
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.cache_secret/.token
          key: token-secret-output

      - name: Encode secret
        uses: weni-ai/actions-workflows/secret-output@main
        id: encode_multiline
        with:
          in: |
            BBBBBBB
            BBBBBBB

      - name: Encode secret toml
        uses: weni-ai/actions-workflows/secret-output@main
        id: encode_toml
        with:
          in: |
            a = '''
            BBBBBBB
            '''
            b = '''
            BBBBBBB
            '''

      - name: Encode secret
        uses: weni-ai/actions-workflows/secret-output@main
        id: encode
        with:
          in: AAAAAAAA

      - name: Output encode
        run: echo "${{ steps.encode.outputs.out }}"

      - name: Decode
        uses: weni-ai/actions-workflows/secret-output@main
        id: decode
        with:
          op: decode
          in: ${{ steps.encode.outputs.out }}"

      - name: Decode multiline
        uses: weni-ai/actions-workflows/secret-output@main
        id: decode_multiline
        with:
          op: decode
          in: ${{ steps.encode_multiline.outputs.out }}"

      - name: Decode toml
        uses: weni-ai/actions-workflows/secret-output@feature/secret-in-input
        id: decode_toml
        with:
          op: toml-decode
          in: ${{ steps.encode_toml.outputs.out }}"

      - name: Output decode
        run: |
          echo "${{ steps.decode.outputs.out }}"
          echo "${{ steps.decode_multiline.outputs.out }}"

      - name: IF Output decode is equal
        #if: steps.decode.outputs.out == 'AAAAAAAA'
        run: |
          if [ "${{ steps.decode.outputs.out }}" != "AAAAAAAA" ] ; then
            echo "Diff in output"
            exit 1
          fi
          if [ "${{ steps.decode_multiline.outputs.out }}" != "$( echo -e "BBBBBBB\nBBBBBBB" )" ] ; then
            echo "Diff in output"
            exit 1
          fi
          if [ "${{ steps.decode_toml.outputs.a }}" != "BBBBBBB" ] ; then
            echo "Diff in output"
            exit 1
          fi
          if [ "${{ steps.decode_toml.outputs.b }}" != "BBBBBBB" ] ; then
            echo "Diff in output"
            exit 1
          fi
          echo "${{ steps.decode.outputs.out }}"
          echo "${{ steps.decode_multiline.outputs.out }}"
          echo "${{ steps.decode_toml.outputs.a }}"
          echo "${{ steps.decode_toml.outputs.b }}"

  another_job:
    runs-on: ubuntu-latest
    name: Another job how use a secret
    needs:
      - setup
    steps:
      - name: Cache secret
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/.cache_secret/.token
          key: token-secret-output

      - name: Decode
        uses: weni-ai/actions-workflows/secret-output@main
        id: decode
        with:
          op: decode
          in: ${{ needs.setup.outputs.out }}"

      - name: Decode multiline
        uses: weni-ai/actions-workflows/secret-output@main
        id: decode_multiline
        with:
          op: decode
          in: ${{ needs.setup.outputs.out_multiline }}"

      - name: Output decode
        run: echo "${{ steps.decode.outputs.out }}"

      - name: IF Output decode is equal
        #if: steps.decode.outputs.out == 'AAAAAAAA'
        run: |
          if [ "${{ steps.decode.outputs.out }}" != "AAAAAAAA" ] ; then
            echo "Diff in output"
            exit 1
          fi
          if [ "${{ steps.decode_multiline.outputs.out }}" != "$( echo -e "BBBBBBB\nBBBBBBB" )" ] ; then
            echo "Diff in output"
            exit 1
          fi
          echo "${{ steps.decode.outputs.out }}"
          echo "${{ steps.decode_multiline.outputs.out }}"

# vim: nu ts=2 fdm=indent et ft=yaml shiftwidth=2 softtabstop=2:
